* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  height: 100%;
  font-size: 1.6rem;
}

.image {
  background: no-repeat center/cover url(./assets/background-image.jpg);
  width: 30%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.form-container > div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  margin-bottom: 5rem;
  gap: 15px;
}
.form-container > div > p {
  font-weight: 900;
  text-align: left;
  font-size: 2rem;
}

.form > div,
h3,
.button-container {
  padding-left: 5rem;
  padding-bottom: 2.5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  padding-right: 9rem;
}

.form input {
  display: block;
  padding: 0.5rem 1.6rem;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #b5d5c5;
}

.form label {
  color: #222222;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
}

.button-container button {
  padding: 1.2rem 4rem;
  color: #7e582c;
  border-style: none;
  border: 1px solid #7e582c;
  border-radius: 5px;
  transition: 0.3s ease-in;
  font-weight: 600;
  cursor: pointer;
}

.button-container {
  margin-bottom: 2rem;
  font-weight: 500;
}

.button-container button:hover {
  background-color: #7e582c;
  color: #fff;
  border-color: #c69749;
}

.form-container > form > p {
  margin-left: 5rem;
}

.form-container a {
  text-decoration: none;
  color: #7e582c;
  font-weight: 800;
}

@media (min-width: 767px) and (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 467px) {
  html {
    font-size: 37.5%;
  }
}
